body {
  overflow: scroll;
  background-image: url("jessica-fadel-SH4GNXNj1RA-unsplash.jpg");
}

body:before {
  content: "";
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: #00022b;
  opacity: 90%;
}

.App {
  color: white;
  background-color: #00022e;
}

section {
  position: center;
  float: left;
}

#About {
  margin: 50px;
  border-width: 50px;
}

.about-container {
  float: left;
  height: 20%;
  width: 50%;
}

#about-description {
  width: 50% !important;
}

#about-description h1 {
  font-size: 3em;
}

#About .Links .link {
  margin: 10px;
}

#profile-picture {
  width: 100%;
}

#profile-picture-container {
  text-align: center;
}

#projects-div {
  width: 100%;
}

#projects-div img {
  width: 100%;
}